# Exercícios do Capítulo 2

## #1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [10]:
# Gerar números de 1 à 10 e armazenar em uma lista.
# O segundo parâmetro do limite máximo é exclusivo, então deve-se incrementar +1.
lst1 = list( range( 1, 10 + 1) )

# Impressão da lista:
print( lst1 )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## #2 - Crie uma lista de 5  e imprima na tela

In [10]:
lst2 = [ ['a', 'b', 'c', 'd', 'e'], [1, 2, 3], {'Rafael' : 1.85, 'Cristiane' : 1.65} ]

# Impressão da lista inteira
print(lst2)

# Impressão do segundo item, no primeiro objeto
print(lst2[0][1])

# Impressão do valor da chave Rafael
print(lst2[2]['Rafael'])

[['a', 'b', 'c', 'd', 'e'], [1, 2, 3], {'Rafael': 1.85, 'Cristiane': 1.65}]
b
1.85

## #3 - Crie duas strings e concatene as duas em uma terceira string

In [15]:
string_full = 'Rafael' + ' ' +'Lima'

print(string_full)

Rafael Lima

## #4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [18]:
tpl = (1,2,2,3,4,4,4,5)

tpl.count(4)

3

## #8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. Imprima o dicionário na tela.

In [23]:
dic1 = { 'Rafael' : 36, 'Cristiane' : 35, 'Alturas' : [1.85, 1.65]}

print(dic1)

# Imprissão do valor da chave Alturas
print(dic1['Alturas'])

{'Rafael': 36, 'Cristiane': 35, 'Alturas': [1.85, 1.65]}
[1.85, 1.65]

## #9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,  o segundo uma tupla de 2 elementos, o terceiro um dicionário com 2 chaves e 2 valores e o quarto elemento um valor do tipo float. Imprima a lista na tela.

In [25]:
lst2 = [ 'Uma String', (2,3), {'x' : 30, 'y' : 32}, 3.14 ]

print(lst2)

['Uma String', (2, 3), {'x': 30, 'y': 32}, 3.14]

## #10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.

In [28]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

frase[1:18]

'ientista de Dados'