<a href="https://colab.research.google.com/github/ralsouza/python_fundamentos/blob/master/src/03_tratamento_arquivos_modulos_pacotes_funcoes_buildin/06_funcoes_zip_e_enumerate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funções ZIP e Enumerate
## Função ZIP
A função `zip()`agrega os valores de duas sequências e retorna uma tupla. 

Sintaxe: `zip( sequência, sequência )`

Pode ser quando o número de elementos for diferente em cada sequência. Mas o objeto retornado terá a mesma quantidade de elementos da sequência menor.

Ou seja:

```
zip( [1,2,3,4], [1,2,3] )
(1,1)(2,2)(3,3)
```

Observação: O quarto valor da primeira lista não será retornado, pois não existe seu correspondente na lista menor.

## Função Enumerate
Permite retornar o índice de cada valor em uma sequência, à medida que a sequência é percorrida. `Enumerate` retorna uma tupla no formato `tupla( índice, valor )`.

# 1. Função ZIP

In [0]:
# Criação de duas listas
x = [ 1, 2, 3 ]
y = [ 4, 5, 6 ]

In [2]:
# Unir as listas com a função zip()
zip(x, y)

In [3]:
# A função zip() também retorna um iterator, que deve ser convervido em uma lista para que seja possível visualizas as tuplas
# Nota-se que os valores nos índices correspondentes entre as listas, foram unidas
list( zip( x, y) )

[(1, 4), (2, 5), (3, 6)]

In [4]:
# Testando com quantidades diferentes de valores
# Apenas duas tuplas serão retornadas, pois será retornado o tamanho da menor tupla
list( zip( 'ABC', 'xy' ) )

[('A', 'x'), ('B', 'y')]

In [0]:
# Criar outras duas listas
a = [1,2,3]
b = [4,5,6,7,8]

In [7]:
list( zip( a, b) )

[(1, 4), (2, 5), (3, 6)]

In [0]:
# Dicionários em Python também são sequências
d1 = { 'a': 1, 'b': 2 }
d2 = { 'c': 4, 'd': 5 }

In [9]:
# A função zip() unirá as chaves, desconsiderando os valores
list( zip( d1, d2 ) )

[('a', 'c'), ('b', 'd')]

In [11]:
# Unindo as chaves
list( zip( d1.values(), d2.values() ) )

[(1, 4), (2, 5)]

In [12]:
# Ou apenas o valor de uma das chaves
list( zip( d1, d2.values() ) )

[('a', 4), ('b', 5)]

In [0]:
# Criar uma função para trocar os valores entre os dois dicionários
def trocaValores( d1, d2 ):
  
  dicTemp = {}
  
  for d1key, d2val in zip( d1, d2.values() ):
    
    dicTemp[ d1key ] = d2val
    
    return dicTemp

In [17]:
trocaValores( d1, d2 )

{'a': 4}

# 2. Função Enumerate

In [0]:
# Criar uma lista com três caracteres
seq = [ 'a', 'b', 'c' ]

In [19]:
# Será retornado um iterator
enumerate( seq )

In [21]:
# Novamente precisamos converter para uma lista para obtermos os valores
# Nota-se que o primeiro elemento de cada tupla é um índice
list( enumerate( seq ) )

[(0, 'a'), (1, 'b'), (2, 'c')]

In [22]:
# Imprimir os valores de uma lista com a função enumerate() e seus respectivos índices
for indice, valor in enumerate( seq ): 
  print( indice, valor )

0 a
1 b
2 c

In [24]:
# Percorrer os elementos dentro da lista com seus respectivos índices
# Se o índice for maior ou igual à dois parar a execução
# Isto é útil para retornar parte valores em função do índice
for indice, valor in enumerate( seq ):
  if( indice >= 2):
    break
  else:
    print( valor )

a
b

In [0]:
# Criar uma lista de strings
lst = [ 'Marketing', 'Tecnologia', 'Business' ]

In [28]:
# Imprimir os índices e seus valores respectivos
for i, item in enumerate( lst ):
  print( i, item )

0 Marketing
1 Tecnologia
2 Business

In [29]:
# A sequência de elementos pode ser qualquer coisa, inclusive uma string
for i, itens in enumerate( 'Isso é uma string' ):
  print( i, itens)

0 I
1 s
2 s
3 o
4
5 é
6
7 u
8 m
9 a
10
11 s
12 t
13 r
14 i
15 n
16 g

In [31]:
# E também fazer o mesmo com um range de elementos
for i, itens in enumerate( range( 10 ) ):
  print( i, itens )

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9