<a href="https://colab.research.google.com/github/ralsouza/python_fundamentos/blob/master/src/03_tratamento_arquivos_modulos_pacotes_funcoes_buildin/08_exercices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercices

1) Crie uma lista de 3 elementos e calcule a terceira potência de cada elemento

In [0]:
lst = [ 4, 7, 9 ]

In [0]:
lst2 = [ x**3 for x in lst ]

print( lst2 )

[64, 343, 729]

2) Reescreva o código abaixo, usando a função `map()`. O resultado final deve ser o mesmo!

```
palavras = 'A Data Science Academy oferce os melhores cursos de análise de dados do Brasil'.split()

resultado = [[w.upper(), w.lower(), len(w)] for w in palavras]

for i in resultado:
    print (i)
```

In [0]:
palavras = 'A Data Science Academy oferce os melhores cursos de análise de dados do Brasil'.split()

print( palavras)

['A', 'Data', 'Science', 'Academy', 'oferce', 'os', 'melhores', 'cursos', 'de', 'análise', 'de', 'dados', 'do', 'Brasil']

In [0]:
resultado = [ [w.upper(), w.lower(), len(w)] for w in palavras ]

print( resultado )

[['A', 'a', 1], ['DATA', 'data', 4], ['SCIENCE', 'science', 7], ['ACADEMY', 'academy', 7], ['OFERCE', 'oferce', 6], ['OS', 'os', 2], ['MELHORES', 'melhores', 8], ['CURSOS', 'cursos', 6], ['DE', 'de', 2], ['ANÁLISE', 'análise', 7], ['DE', 'de', 2], ['DADOS', 'dados', 5], ['DO', 'do', 2], ['BRASIL', 'brasil', 6]]

In [0]:
for i in resultado:
    print (i)

['A', 'a', 1]
['DATA', 'data', 4]
['SCIENCE', 'science', 7]
['ACADEMY', 'academy', 7]
['OFERCE', 'oferce', 6]
['OS', 'os', 2]
['MELHORES', 'melhores', 8]
['CURSOS', 'cursos', 6]
['DE', 'de', 2]
['ANÁLISE', 'análise', 7]
['DE', 'de', 2]
['DADOS', 'dados', 5]
['DO', 'do', 2]
['BRASIL', 'brasil', 6]

In [0]:
list( map( lambda p: [ p.upper(), p.lower(), len(p) ], palavras ) )

[['A', 'a', 1],
 ['DATA', 'data', 4],
 ['SCIENCE', 'science', 7],
 ['ACADEMY', 'academy', 7],
 ['OFERCE', 'oferce', 6],
 ['OS', 'os', 2],
 ['MELHORES', 'melhores', 8],
 ['CURSOS', 'cursos', 6],
 ['DE', 'de', 2],
 ['ANÁLISE', 'análise', 7],
 ['DE', 'de', 2],
 ['DADOS', 'dados', 5],
 ['DO', 'do', 2],
 ['BRASIL', 'brasil', 6]]

3) Calcule a matriz transposta da matriz abaixo.

`matrix = [ [1,2], [3,4], [5,6], [7,8] ]`

Matriz transposta é um conceito fundamental na construção de redes neurais artificiais, base de sistemas de IA.

In [0]:
matrix = [ [1,2], 
           [3,4], 
           [5,6], 
           [7,8] ]

In [7]:
# Com List Comprehension para retornar uma lista

[ list( x ) for x in zip( *matrix ) ]

[[1, 3, 5, 7], [2, 4, 6, 8]]

4) Crie duas funções, uma para elevar um número ao quadrado e outra para elevar ao cubo. 
Aplique as duas funções aos elementos da lista abaixo. 

Obs: as duas funções devem ser aplicadas simultaneamente.

`lista = [0, 1, 2, 3, 4]`

In [0]:
lista = [0,1,2,3,4]

In [0]:
def squareNumber( num ):
  return ( num**2 )

def cubeNumber( num ):
  return ( num**3 )

In [0]:
funcs = [ squareNumber, cubeNumber ]

In [67]:
# This is insane!!!
for i in lista:
  value = list( map( lambda x: x( i ), funcs) )
  print( value )

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]