<a href="https://colab.research.google.com/github/ralsouza/python_fundamentos/blob/master/src/06_Modulos_Analise_de_Dados/07_Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://pandas.pydata.org

In [0]:
# Import Series from Pandas library
# from pandas import Series

# Import full package of Pandas
import pandas as pd

In [7]:
# Check version of Pandas
pd.__version__

'0.25.3'

In [9]:
# Create a serie without specifying the indexes
obj = Series([67,78,-56,13])

obj

0    67
1    78
2   -56
3    13
dtype: int64

In [10]:
# Check type of Serie
type(obj)

pandas.core.series.Series

In [11]:
# Show values
obj.values

array([ 67,  78, -56,  13])

In [13]:
# Show indexes
# Note that the specification of this object
obj.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
# Create a Serie specifying the indexes
obj2 = Series([67,78,-56,13], index=['a','b','c','d'])
obj2

a    67
b    78
c   -56
d    13
dtype: int64

In [16]:
# Show values
obj2.values

array([ 67,  78, -56,  13])

In [17]:
# Show indexes
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
# Slicing the Serie
obj2[obj2 > 3]

a    67
b    78
d    13
dtype: int64

In [19]:
# Slicing by index
obj2['b']

78

In [20]:
# Check if index is inside the object
'd' in obj2

True

In [27]:
# Create a Serie passing a dictionary as parameter
dict = {'Football':5200,'Tenis':120,'Swimming':698,'Volleyball':1550}
obj3 = Series(dict)

# The keys from dictionary turned indexes in Series
obj3

Football      5200
Tenis          120
Swimming       698
Volleyball    1550
dtype: int64

In [0]:
# Create a list of sports
sports = ['Football','Tenis','Swimming','Basketball']

In [28]:
# Create a Serie passing a list as index
# Note the Pandas can't find a relationship between Basketball inside the dictionary,
# because this, Basketball is NaN (Not a Number)
obj4 = Series(dict, index=sports)
obj4

Football      5200.0
Tenis          120.0
Swimming       698.0
Basketball       NaN
dtype: float64

In [29]:
# Ask to Pandas if the Series has a NaN value
pd.isnull(obj4)

Football      False
Tenis         False
Swimming      False
Basketball     True
dtype: bool

In [31]:
# Check null values
obj4.isnull()

Football      False
Tenis         False
Swimming      False
Basketball     True
dtype: bool

In [32]:
# Concatenating Series
# The Pandas looks for a relationship between keys and sets a NaN value when he doesn't find it
# When he finds, he adds the values
# It's like a Left Join in SQL
obj3 + obj4

Basketball        NaN
Football      10400.0
Swimming       1396.0
Tenis           240.0
Volleyball        NaN
dtype: float64

In [33]:
# We can change the object name
obj4.name = 'population'
obj4

Football      5200.0
Tenis          120.0
Swimming       698.0
Basketball       NaN
Name: population, dtype: float64

In [34]:
# And change the index name too
obj4.index.name = 'sport'
obj4

sport
Football      5200.0
Tenis          120.0
Swimming       698.0
Basketball       NaN
Name: population, dtype: float64