<a href="https://colab.research.google.com/github/ralsouza/python_fundamentos/blob/master/src/06_Modulos_Analise_de_Dados/08_Pandas_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import DataFrame from Pandas
from pandas import DataFrame

In [0]:
data = {'State': ['Santa Catarina','Paraná','Goiás','Bahia','Minas Gerais'],
        'Year': [2002,2003,2004,2005,2006],
        'Population': [1.5,1.7,3.6,2.4,2.9]}

In [0]:
frame = DataFrame(data)

In [7]:
frame

            State  Year  Population
0  Santa Catarina  2002         1.5
1          Paraná  2003         1.7
2           Goiás  2004         3.6
3           Bahia  2005         2.4
4    Minas Gerais  2006         2.9

In [8]:
type(frame)

pandas.core.frame.DataFrame

In [11]:
# Setting the column names
DataFrame(data, columns=['Year','State','Population'])

   Year           State  Population
0  2002  Santa Catarina         1.5
1  2003          Paraná         1.7
2  2004           Goiás         3.6
3  2005           Bahia         2.4
4  2006    Minas Gerais         2.9

In [13]:
# Creating another dataframe with the same previous data, but adding another column and defining the names of the indexes
# Note that the Debit column will be filled with NaN values, because we did not pass these values
# Ahead we will fill this column
frame2 = DataFrame(data, columns=['Year','State','Population','Debit'],
                   index=['one','two','three','four','five'])

frame2

       Year           State  Population Debit
one    2002  Santa Catarina         1.5   NaN
two    2003          Paraná         1.7   NaN
three  2004           Goiás         3.6   NaN
four   2005           Bahia         2.4   NaN
five   2006    Minas Gerais         2.9   NaN

In [14]:
# Print a column by name with slicing notation
frame2['State']

one      Santa Catarina
two              Paraná
three             Goiás
four              Bahia
five       Minas Gerais
Name: State, dtype: object

In [15]:
# Print the indexes
frame2.index

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [16]:
# Print the column names
frame2.columns

Index(['Year', 'State', 'Population', 'Debit'], dtype='object')

In [17]:
# Print the values
frame2.values

array([[2002, 'Santa Catarina', 1.5, nan],
       [2003, 'Paraná', 1.7, nan],
       [2004, 'Goiás', 3.6, nan],
       [2005, 'Bahia', 2.4, nan],
       [2006, 'Minas Gerais', 2.9, nan]], dtype=object)

In [18]:
# Show de data types
frame2.dtypes

Year            int64
State          object
Population    float64
Debit          object
dtype: object

In [19]:
# Select a column using attribute notation
frame2.Year

one      2002
two      2003
three    2004
four     2005
five     2006
Name: Year, dtype: int64

In [20]:
# Another notation of slicing
# Note that the index 2 is exclusive
frame2[:2]

     Year           State  Population Debit
one  2002  Santa Catarina         1.5   NaN
two  2003          Paraná         1.7   NaN